<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div class="container main-container">
        <h1>Demo <small>angular</small></h1>
        <hr>
        <!-- <app-ng-style></app-ng-style> -->
        <!-- <app-css></app-css>
        <p>Hola mundo desde app.compoent</p> -->
        <!-- <app-clases></app-clases> -->
        <!-- <p [appResaltado]="'red'">Hola Mundo</p> -->
        <app-ng-switch></app-ng-switch>
    </div>
</body>

</html>